<div class="row">
    @Html.Label(string.Empty, @ViewData.ModelMetadata.DisplayName)
    <div class="input">
        @Html.Password(string.Empty, ViewData.TemplateInfo.FormattedModelValue, new { @class = "password" })
        @if (!string.IsNullOrWhiteSpace(ViewData.ModelMetadata.Description))
        {
            <span class="help-block">@ViewData.ModelMetadata.Description</span>
        }
        <div>
            @Html.ValidationMessage(string.Empty)
        </div>
    </div>
</div>